@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// ==== FONTS ===========================================================================================
@import "fonts";
// ==== // FONTS ===========================================================================================

// ==== VARS ===========================================================================================
@import "vars";
// ==== // VARS ===========================================================================================

// ==== Normalize ===========================================================================================
@import "normalize";
// ==== // НОРМАЛАЙЗ ===========================================================================================

//<MIXINE>===============================================================================================
@import "mixins.scss";
//</MIXINE>===============================================================================================

//<ICOMOON>===============================================================================================
@import "../icomoon/style";
//</ICOMOON>===============================================================================================

//<FANCYBOX>===============================================================================================
@import "plagins/fancybox.scss";
//<FANCYBOX>===============================================================================================

// ==== PLAGINS ===========================================================================================
@import "plagins/swiper-bundle";
//@import "plagins/drift-basic";
// ==== // PLAGINS ===========================================================================================

// ==== FORM STYLE DEFAULT ===========================================================================================
@import "forms";
// ==== FORM STYLE DEFAULT ===========================================================================================

// ==== BORDER ===========================================================================================
@import "../common/burger/burger";
// ==== BORDER ===========================================================================================

// ==== POPUP ===========================================================================================
//@import "common/popup/popup";
// ==== // POPUP ===========================================================================================

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: 10px;
	height: 100%;
}
html,
body {
	min-width: $minwidth;
	margin: 0 auto;
}
body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-size: 1.6rem;
	transition: opacity 0.8s ease;
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100%;

	&.lock {
		overflow: hidden;
	}
}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

._anim-items {
	transition: all 1.6s ease;
	opacity: 0;

	&._active {
		opacity: 1;
	}
}

.center {
	text-align: center;
}

._page {
	flex: 1 1 auto;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 40px;

	@media (max-width: 375.98px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.p-wrap {
	padding-top: 80px;
	padding-bottom: 80px;

	@media (max-width: $md3+px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.bg {
	background: #f3f3f3;
}

// === title ========================================================================
.title-1 {
	font-weight: bold;
	font-size: 48px;
	line-height: 1.208em;
	margin-top: 0;
	margin-bottom: 0;

	@media (max-width: $md3+px) {
		font-size: 42px;
	}
	@media (max-width: $md4+px) {
		font-size: 34px;
	}
}
.title-2 {
	font-weight: bold;
	font-size: 42px;
	line-height: 1.19em;

	@media (max-width: $md3+px) {
		font-size: 40px;
	}
	@media (max-width: $md4+px) {
		font-size: 30px;
	}
}

.title-3 {
}

.title-4 {
}

.title-5 {
}
.title-6 {
}

.title-color {
	color: $titleColor;
}

.suptitle {
}
.subtitle {
}

.text {
}
.text-center {
	text-align: center;
}
// === and title ========================================================================

// === btn ========================================================================
.btn-default {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: 42px;
	min-width: 188px;
	padding: 10px 20px;
	cursor: pointer;
	transition: all 0.3s ease;
	font-weight: bold;
	font-size: 15px;
	line-height: 1.06em;
	text-transform: uppercase;
	color: $titleColor;
	align-self: center;
	position: relative;
	text-align: center;

	@media (min-width: 992px) {
		&:hover {
			background-color: rgba($titleColor, 0.2);
			& [class^="line"] {
				background-color: $titleColor;
			}
		}
	}

	&.white {
		color: $textColorLight;

		@media (min-width: 992px) {
			&:hover {
				background-color: rgba(#fff, 0.2);
				& [class^="line"] {
					background-color: #fff;
				}
			}
		}

		& [class^="line"] {
			&:before,
			&:after {
				background-color: #fff;
			}
		}
	}

	& [class^="line"] {
		position: absolute;
		display: block;
		transition: all 0.3s ease;

		&:before,
		&:after {
			background-color: $titleColor;
		}
	}

	& .line-1 {
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;

		&:before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			height: 100%;
			width: calc(80% - 10px);
			animation: top-1 4s linear infinite;
		}

		&:after {
			position: absolute;
			content: "";
			top: 0;
			right: 0;
			height: 100%;
			width: calc(20% - 10px);
			animation: top-2 4s linear infinite;
		}
	}

	& .line-2 {
		top: 0;
		right: 0;
		height: 100%;
		width: 2px;

		&:before {
			position: absolute;
			content: "";
			bottom: 0;
			right: 0;
			height: calc(80% - 10px);
			width: 100%;
			animation: right-1 4s linear infinite 2s;
		}

		&:after {
			position: absolute;
			content: "";
			right: 0;
			top: 0;
			height: calc(80% - 10px);
			width: 100%;
			animation: right-2 4s linear infinite 2s;
		}
	}
	& .line-3 {
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2px;

		&:before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			height: 100%;
			width: calc(80% - 10px);
			animation: bottom-1 4s linear infinite;
		}

		&:after {
			position: absolute;
			content: "";
			top: 0;
			right: 0;
			height: 100%;
			width: calc(20% - 10px);
			animation: bottom-2 4s linear infinite;
		}
	}
	& .line-4 {
		top: 0;
		left: 0;
		height: 100%;
		width: 2px;

		&:before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			height: calc(80% - 10px);
			width: 100%;
			animation: left-1 4s linear infinite 2s;
		}

		&:after {
			position: absolute;
			content: "";
			bottom: 0;
			right: 0;
			height: calc(80% - 10px);
			width: 100%;
			animation: left-2 4s linear infinite 2s;
		}
	}
}

@keyframes top-1 {
	0% {
		width: calc(0% - 10px);
	}
	50% {
		width: calc(100%);
	}
	100% {
		width: calc(100%);
	}
}
@keyframes top-2 {
	0% {
		width: calc(100% - 10px);
	}
	50% {
		width: calc(0% - 10px);
	}
	100% {
		width: calc(0% - 10px);
	}
}

@keyframes bottom-1 {
	0% {
		width: calc(100% - 10px);
	}
	50% {
		width: calc(0% - 10px);
	}
	100% {
		width: calc(0% - 10px);
	}
}
@keyframes bottom-2 {
	0% {
		width: calc(0% - 10px);
	}
	50% {
		width: calc(100%);
	}
	100% {
		width: calc(100%);
	}
}

@keyframes left-1 {
	0% {
		height: calc(100%);
	}
	50% {
		height: calc(0% - 10px);
	}
	100% {
		height: calc(0% - 10px);
	}
}
@keyframes left-2 {
	0% {
		height: calc(0% - 10px);
	}
	50% {
		height: calc(100%);
	}
	100% {
		height: calc(100%);
	}
}

@keyframes right-1 {
	0% {
		height: calc(100%);
	}
	50% {
		height: calc(0% - 10px);
	}
	100% {
		height: calc(0% - 10px);
	}
}
@keyframes right-2 {
	0% {
		height: calc(0% - 10px);
	}
	50% {
		height: calc(100%);
	}
	100% {
		height: calc(100%);
	}
}

button.btn-default {
}

.wrap-container__row {
	&:not(:last-child) {
		margin-bottom: 80px;

		@media (max-width: $md3+px) {
			margin-bottom: 40px;
		}
	}
}
// === and btn ========================================================================

.input {
	display: flex;
	align-items: center;
	width: 100%;
	height: 60px;
	background: #ffffff;
	border: 1px solid #d0d9e9;
	box-sizing: border-box;
	padding: 10px 20px;
	transition: all 0.3 ease;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2em;
	color: $titleColor;

	&::placeholder {
		font-size: 16px;
		line-height: 1.2em;
		color: #a5aebe;
	}

	&:focus {
		border-color: $titleColor;
	}
}

.textarea {
	display: flex;
	width: 100%;
	height: 80px;
	background: #ffffff;
	border: 1px solid #d0d9e9;
	box-sizing: border-box;
	padding: 21px 20px;
	transition: all 0.3 ease;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2em;
	color: $titleColor;
	resize: none;

	&::placeholder {
		font-size: 16px;
		line-height: 1.2em;
		color: #a5aebe;
	}

	&:focus {
		border-color: $titleColor;
	}
}

.link {
}

.breadcrams {
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;

	& > li {
		font-size: 14px;
		line-height: 171%;
		color: #a5aebe;

		& > a {
			color: #a5aebe;
			transition: all 0.3s ease;

			@media (min-width: 992px) {
				&:hover {
					color: $titleColor;
				}
			}

			&:after {
				content: "•";
				color: inherit;
				margin-left: 8px;
				margin-right: 8px;
			}
		}
	}
}

// === TEXT CONTETN BLOCK ========================================================================
.text-content {
	font-weight: normal;
	font-size: 16px;
	line-height: 175%;

	& h1 {
		font-weight: bold;
		font-size: 48px;
		line-height: 1.208em;
		margin-top: 0;
		margin-bottom: 0.66em;
		color: $titleColor;

		@media (max-width: $md3+px) {
			font-size: 42px;
		}
		@media (max-width: $md4+px) {
			font-size: 34px;
		}
	}
	& h2 {
		font-weight: bold;
		font-size: 42px;
		line-height: 1.19em;
		margin-bottom: 0.5em;

		@media (max-width: $md3+px) {
			font-size: 40px;
		}
		@media (max-width: $md4+px) {
			font-size: 30px;
		}
	}
	& h3 {
	}
	& h4 {
	}

	& h5 {
	}
	& h6 {
	}

	& p {
		margin-bottom: 1.2em;
		& big {
			font-size: 18px;
			line-height: 178%;
			color: $titleColor;
		}
	}

	& ul {
	}

	& ol {
	}

	& figure {
	}
}
// === and TEXT CONTETN BLOCK ========================================================================

// ==== BLOCKS =====================================================
@import "../common/header/header";
@import "../common/footer/footer";
@import "../common/checkbox/checkbox";
@import "../common/promo-header/promo-header";
@import "../common/projects/projects";
@import "../common/news-block/news-block";
@import "../common/partners/partners";
@import "../common/gallery/gallery";
@import "../common/cta-form/cta-form";
// ==== BLOCKS =====================================================

// ==== PAGES =====================================================

@import "pages/home";
@import "pages/projects";

// ==== AND PAGES =====================================================
