.footer {
    background-color: $titleColor;
    padding-top: 80px;
    color: $textColorLight;

    @media (max-width: $md3+px) {
        padding-top: 40px;
    }

    &__title {
        max-width: 620px;
        margin-bottom: 59px;

        @media (max-width: $md3+px) {
            margin-bottom: 30px;
        }
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
    }

    &__col {
        flex: 1 1 auto;
        max-width: 400px;
        min-width: 280px;

        min-height: 100px;
        position: relative;

        &:first-child {
            margin-right: 21px;

            @media (min-width: 992px) {
                &:before {
                    position: absolute;
                    content: "";
                    top: -10px;
                    right: 0;
                    height: 100px;
                    width: 2px;
                    background-color: rgba(#fff, 0.3);
                }
            }

        }

        &:nth-child(2) {
            margin-right: 21px;

            @media (min-width: 992px) {
                &:before {
                    position: absolute;
                    content: "";
                    top: -10px;
                    right: 0;
                    height: 100px;
                    width: 2px;
                    background-color: rgba(#fff, 0.3);
                }
            }
        }

        &:last-child {
            max-width: 335px;
        }
    }

    &__body-item {
        margin-bottom: 58px;

        @media (max-width: $md3+px) {
            margin-bottom: 40px;
        }
    }

    &__label {
        font-size: 16px;
        line-height: 1.5em;
        margin-bottom: 10px;
    }

    &__text {
        font-weight: bold;
        font-size: 21px;
        line-height: 1.19em;

        & > a {
            color: $textColorLight;
            transition: all 0.3s ease;

            @media (min-width: 992px) {
                &:hover {
                    color: $mainColor;
                }
            }
        }
    }

    &__bottom {
        min-height: 84px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        line-height: 150%;
        color: #546673;
        border-top: 2px solid #546673;
        flex-wrap: wrap;
        & p {
            margin: 10px 0;
        }
    }
}
