.contact {
    &__title {
        margin-bottom: 40px;

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
        }
    }

    &__head {

        margin: 0 -10px;

        @media (min-width: 768px) {
            display: flex;
        }
    }

    &__head-item {
        flex: 0 1 33.333%;
        padding: 0 10px;
        padding-bottom: 20px;
        position: relative;
        margin-bottom: 40px;

        &:before {
            position: absolute;
            content: "";
            left: 50%;
            bottom: 0;
            width: calc(100% - 20px);
            height: 1px;
            background: #d0d9e9;
            transform: translateX(-50%);
        }
    }

    &__head-item-label {
        font-size: 16px;
        line-height: 1.5em;
        margin-bottom: 10px;
    }

    &__head-item-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1875em;
        color: $titleColor;

        & > a {
            color: $titleColor;
            transition: all .3s ease;

            @media (min-width: 992px) {
                &:hover {
                    color: $mainColor;
                }
            }
        }
    }

    &__map {
        height: 450px;
        background-color: #D0D9E9;
        @media (max-width: $md3+px) {
            height: 400px;
        }
    }
}

