.block-404 {
    background-color: #f3f3f3;
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__bg-left {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 30%;

        & img {
            max-width: 100%;
            width: 100%;
            height: auto;
            max-height: 100%;
        }
    }

    &__bg-right {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;

        & img {
            height: 100%;
            width: auto;
        }
    }

    &__body {
        position: relative;
        z-index: 2;
        min-height: calc(100vh - 96px);
        padding-top: 120px;
        padding-bottom: 120px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: $md2+px) {
            min-height: calc(100vh - 76px);
        }

        @media (max-width: $md3+px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 150px;
        line-height: 1.2em;
        margin-bottom: 20px;
        margin-top: 0;

        @media (max-width: $md3+px) {
            font-size: 120px;
        }
    }

    &__subtitle {
        margin-bottom: 20px;
    }

    &__text {
        max-width: 583px;
        margin: 0 auto 28px;
    }
}
