.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color:  rgba($titleColor, 0.8);
	z-index: 50;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;

	&.open {
		opacity: 1;
		visibility: visible;

		& .popup_content {
			opacity: 1;
		}
	}

	&_body {
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.5rem 3rem;
		
		@media (max-width: $md3+px) {
			padding: 1.5rem;
		}
	}

	&_content {
		background: #fff;
		max-width: 746px;
		position: relative;
		width: 100%;
		transition: all 0.8s ease 0s;
		opacity: 0;
		outline: 0;
		text-align: center;
		min-height: 469px;
		padding: 60px 40px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (max-width: $md3+px) {
			min-height: 350px;
			padding: 40px 20px;
		}
	}

}
.popup {

	&_title {
		margin-bottom: 10px;
	}

	&_text {
		max-width: 583px;
		margin: 0 auto 30px;
	}
}
